.new-image {
    animation: slideInImage 0.5s forwards;
  }
  
  @keyframes slideInImage {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  